// helpers
$finance-layout-width: 1100px;

// font family
$finance-font-family: 'Lato', sans-serif;

// font size
$finance-font-base: 16px;

// font weight
$finance-weight-normal: 400;
$finance-weight-bold: 700;

// colors
$finance-color-dark: #333;
$finance-color-dark-secondary: #000;
$finance-color-light: #fff;
$finance-color-grey: #ebebeb;

// breakpoints
$finance-breakpoint-medium: 768px;
$finance-breakpoint-large: 1024px;

// spacing
$finance-spacing-internal-01: 0.125rem;
$finance-spacing-internal-02: 0.25rem;
$finance-spacing-internal-03: 0.5rem;
$finance-spacing-internal-04: 0.75rem;
$finance-spacing-internal-05: 1rem;
$finance-spacing-internal-06: 1.5rem;
$finance-spacing-internal-07: 2rem;
$finance-spacing-internal-08: 4rem;

// radius
$finance-radius-01: 0.25rem;
