.header-container {
  width: 100%;
  background-color: $finance-color-grey;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $finance-layout-width;
  margin: 0 auto;
  background-color: $finance-color-grey;
  padding: $finance-spacing-internal-05;

  .header__drawer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: $finance-color-dark;
    color: $finance-color-light;
    min-width: 200px;

    &.active {
      display: block;
    }

    @include breakpoint('medium') {
      display: flex;
      position: initial;
      top: initial;
      right: initial;
      height: initial;
      background-color: $finance-color-light;
      color: $finance-color-dark;
      width: fit-content;
    }
  }

  .header__menu {
    cursor: pointer;

    @include breakpoint('medium') {
      display: none;
    }
  }

  .header__close {
    width: 30px;
    height: 30px;
    color: $finance-color-light;
    cursor: pointer;
    margin: $finance-spacing-internal-05 $finance-spacing-internal-05 0;

    @include breakpoint('medium') {
      display: none;
    }
  }

  .header__nav {
    list-style: none;
    padding: $finance-spacing-internal-05 0;

    > li {
      padding: $finance-spacing-internal-05;

      &:hover {
        background-color: $finance-color-light;
        color: $finance-color-dark;
      }
    }

    @include breakpoint('medium') {
      display: flex;

      > li {
        border-left: 1px solid $finance-color-dark-secondary;
        padding: 0 $finance-spacing-internal-05;

        &:first-of-type {
          border-left: none;
        }
      }
    }
  }

  @include breakpoint('medium') {
    display: grid;
    grid-template-columns: 0.1fr 2.5fr auto;
  }
}
