.header-container {
  width: 100%;
  background-color: $finance-color-grey;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $finance-layout-width;
  margin: 0 auto;
  background-color: $finance-color-grey;
  padding: $finance-spacing-internal-05;

  .header__logo {
    @include breakpoint('large') {
      padding-right: $finance-spacing-internal-05;
    }
  }

  .header__title {
    font-size: 1.3rem;
  }

  .header__drawer {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: $finance-color-dark;
    color: $finance-color-light;
    min-width: 200px;

    &.active {
      display: block;
    }

    @include breakpoint('large') {
      display: flex;
      position: initial;
      top: initial;
      right: initial;
      height: initial;
      background-color: $finance-color-light;
      color: $finance-color-dark;
      width: fit-content;
    }
  }

  .header__menu {
    cursor: pointer;

    @include breakpoint('large') {
      display: none;
    }
  }

  .header__close {
    width: 16px;
    height: 16px;
    color: $finance-color-light;
    cursor: pointer;
    margin: $finance-spacing-internal-06 $finance-spacing-internal-06 0;

    @include breakpoint('large') {
      display: none;
    }
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: $finance-spacing-internal-05 0;

    > .dashboard {
      order: 2;
    }

    > .settings {
      order: 3;
    }

    > li {
      text-align: right;
      padding: $finance-spacing-internal-03;
      margin: $finance-spacing-internal-02 0;

      &:hover {
        background-color: $finance-color-light;
        color: $finance-color-dark;
      }
    }

    @include breakpoint('large') {
      flex-direction: row;
      padding: 0.6rem 0.4rem;

      > .dashboard {
        order: initial;
      }

      > .settings {
        order: initial;
      }

      > li {
        border-left: 1px solid $finance-color-dark-secondary;
        padding: 0 $finance-spacing-internal-05;

        &:first-of-type {
          border-left: none;
        }
      }
    }
  }

  @include breakpoint('large') {
    display: grid;
    grid-template-columns: 0.1fr 2.5fr auto;
  }
}
